.zig-cache
test.txt
test_data
.cache
report.md
zig-out
root
zig.conf.json
zigzag
report.json
TODO.md
USECASES.md
PLAN.md
report.html
*.html.stamp

.DS_Store
__pycache__/
src/templates/src/prism-*.min.js
src/templates/node_modules/
src/templates/dist/
src/templates/dashboard.html
src/templates/combined-dashboard.html
.idea/
.vscode/
zigzag-reports
