[submodule "ast/vendor/tree-sitter"]
	path = ast/vendor/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
	shallow = true
[submodule "ast/grammars/tree-sitter-python"]
	path = ast/grammars/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python
	shallow = true
[submodule "ast/grammars/tree-sitter-javascript"]
	path = ast/grammars/tree-sitter-javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript
[submodule "ast/grammars/tree-sitter-zig"]
	path = ast/grammars/tree-sitter-zig
	url = https://github.com/tree-sitter-grammars/tree-sitter-zig
[submodule "ast/grammars/tree-sitter-typescript"]
	path = ast/grammars/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript
[submodule "ast/grammars/tree-sitter-rust"]
	path = ast/grammars/tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust
[submodule "ast/grammars/tree-sitter-go"]
	path = ast/grammars/tree-sitter-go
	url = https://github.com/tree-sitter/tree-sitter-go
[submodule "ast/grammars/tree-sitter-c"]
	path = ast/grammars/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c
[submodule "ast/grammars/tree-sitter-cpp"]
	path = ast/grammars/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp
[submodule "ast/grammars/tree-sitter-java"]
	path = ast/grammars/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java
